teleporter-react/node_modules
teleporter-react/.pnp
teleporter-react/.pnp.js

teleporter-react/coverage

teleporter-react/build

teleporter-react/.DS_Store
teleporter-react/.env

teleporter-react/npm-debug.log*
teleporter-react/yarn-debug.log*
teleporter-react/yarn-error.log*

teleporter-react/firebase-debug.log