* {
  padding:10px;
}

.edgeLabel {
  display: none;
}

form {
  display: flex;
  align-items: flex-start;
}

.btn-submit {
  margin-left:10px;
}

ul {
  list-style-type: none;
  padding:0;
  line-height:2px;
}

.warning-txt {
  font-weight: bold;
  color: red;
}

.warning-txt span {
  padding:0;
  color: blue;
}