* {
  padding:10px;
}

.edgeLabel {
  display: none;
}

form {
  display: flex;
  align-items: flex-start;
}

.btn-submit {
  margin-left:10px;
}

ul {
  list-style-type: none;
  padding:0;
  line-height:2px;
}